* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("bank_bg.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

header {
    display: inline-block;
    background-color: rgba(17, 143, 226, 0.5);
    width: 100%;
    color: whitesmoke;
    text-shadow: 2px 0px 0px rgba(0, 1, 2, 0.377), 0px 2px 0px rgba(0, 1, 2, 0.377), -2px 0px 0px rgba(0, 1, 2, 0.377), 0px -2px 0px rgba(0, 1, 2, 0.377);
    box-shadow: 2px 2px 20px rgba(17, 52, 77, 0.377);
}

.active {
    background-color: rgba(0, 5, 8, 0.2);
    border-radius: 10px;
}

header h1 {
    margin: 20px;
    float: left;
}

header img {
    float: left;
    width: 60px;
    height: 60px;
}

nav {
    float: right;
    padding: 28px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}

form {
    text-shadow: 2px 0px 0px rgba(0, 1, 2, 0.377), 0px 2px 0px rgba(0, 1, 2, 0.377), -2px 0px 0px rgba(0, 1, 2, 0.377), 0px -2px 0px rgba(0, 1, 2, 0.377);
}

.transfer {
    display: inline-block;
    position: relative;
    border: transparent;
    font-size: 20px;
    background-color: rgba(60, 102, 119, 0.1);
    box-shadow: 2px -2px 20px rgba(17, 52, 77, 0.377), -2px 2px 20px rgba(17, 52, 77, 0.377);
    padding: 4% 8% 4% 8%;
    text-align: center;
    margin: 5% 20% 5% 20%;
    text-shadow: 2px 0px 0px rgba(0, 1, 2, 0.377), 0px 2px 0px rgba(0, 1, 2, 0.377), -2px 0px 0px rgba(0, 1, 2, 0.377), 0px -2px 0px rgba(0, 1, 2, 0.377);
}

caption {
    font-size: 50px;
    margin-bottom: 2%;
}

td:hover,
th:hover {
    background-color: rgba(10, 80, 107, 0.829);
}

table {
    text-align: center;
    font-size: 15px;
    color: rgb(243, 247, 245);
    background-color: rgba(6, 44, 59, 0.829);
    box-shadow: 2px -2px 20px rgba(17, 52, 77, 0.377), -2px 2px 20px rgba(17, 52, 77, 0.377);
    width: 100%;
}

th {
    font-variant: small-caps;
}

td,
th {
    padding: 1%;
    padding-right: 10px;
}

td {
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    transition: 0.1s ease-out;
    transform: scale(1.01, 1.02);
    background-color: transparent;
}

nav a:hover {
    background-color: rgba(0, 5, 8, 0.2);
    border-radius: 10px;
}

button {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    margin: 1% 10% 1% 10%;
    border: transparent;
    background-color: rgba(87, 169, 224, 0.582);
    color: bisque;
    box-shadow: 2px 2px 20px rgba(17, 52, 77, 0.377);
    font-size: 20px;
    text-shadow: 2px 0px 0px rgba(0, 1, 2, 0.377), 0px 2px 0px rgba(0, 1, 2, 0.377), -2px 0px 0px rgba(0, 1, 2, 0.377), 0px -2px 0px rgba(0, 1, 2, 0.377);
}

.button {
    margin: 1%;
}

button:hover {
    transition: 0.1s ease-out;
    transform: scale(1.01, 1.01);
}

textarea {
    margin-top: 3%;
}

footer {
    clear: both;
    color: white;
    text-shadow: 2px 0px 0px rgba(0, 1, 2, 0.377), 0px 2px 0px rgba(0, 1, 2, 0.377), -2px 0px 0px rgba(0, 1, 2, 0.377), 0px -2px 0px rgba(0, 1, 2, 0.377);
    text-align: center;
    height: 10%;
    padding: 10px;
    box-shadow: 2px -2px 20px rgba(17, 52, 77, 0.377);
    background-color: rgba(17, 143, 226, 0.5);
}

label {
    margin: 15px;
    font-size: 20px;
    background-color: rgba(12, 51, 77, 0.418);
    border-radius: 20px;
    padding: 10px;
}

select,
input[type="number"] {
    margin: 10px;
    font-size: large;
    padding: 5px;
}

@media print {
    body {
        display: none;
    }
    header {
        display: none;
    }
    section {
        display: none;
    }
    div {
        display: none;
    }
    footer {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    header {
        padding: 0%;
    }
    header h1 {
        margin-right: 0px;
    }
    nav {
        text-align: center;
        width: 88%;
        float: left;
        box-shadow: 2px -2px 20px rgba(17, 52, 77, 0.377), -2px 2px 20px rgba(17, 52, 77, 0.377);
        margin-right: 0px;
        padding: 6%;
    }
    nav a {
        margin-right: 0px;
    }
    .transfer {
        margin: 0%;
        padding: 30% 1% 30% 1%;
        font-size: 10px;
    }
    caption {
        font-size: 220%;
    }
    label {
        margin: 1%;
        font-size: 180%;
        padding: 1%;
    }
    textarea {
        margin: 2%;
    }
    select,
    input[type="number"] {
        margin: 2%;
        padding: 2%;
    }
    table {
        font-size: 100%;
        width: 100%;
        margin-bottom: 10%;
    }
    th,
    td {
        padding: 0%;
        width: 10%;
    }
}